body {
    background-color: beige;
}

h1 {
    color: cornflowerblue;
}

.clicked {
    color: tomato;
}

.change-font {
    font-family: 'Courier New', Courier, monospace;
}

.hidden {
    display: none;
}